<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <h2>Contact</h2>
        <form>
            <div class="form-group">
                <label for="name">Nom</label>
                <input type="text" id="name" class="form-control" formControlName="name">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" id="email" class="form-control" formControlName="email">
            </div>
            <div class="form-group">
                <label for="message">Message</label>
                <textarea id="message" class="form-control" formControlName="message">
          </textarea>
            </div>
            <button class="btn btn-success" type="submit">Enregistrer
            </button>
        </form>
    </div>
</div>