<div class="container-fluid">
    <div class="row">
        <div class="col-md-4"><img style="width: 200px; height: 250px;" src="../../assets/images/profile.jpg"
                alt="mon image" class="img-rounded"></div>
        <div class="col-md-4 offset-md-4">
            <h2 style="text-align: center;">Info Personnel</h2>
            <p style="text-align: center;">Eleve Ingeniere passionné du domaine IT</p>
            <p style="font-weight: bold;">Bachir Ali</p>
        </div>
    </div>
</div>