<div class="container-fluid">
    <div class="row">
        <div class="col-md-4"><img style="width: 200px; height: 250px;" src="../../assets/images/profile.jpg"
                alt="mon image" class="img-rounded"></div>
        <div class="col-md-4 offset-md-4">
            <h2 style="text-align: center;">Info Personnel</h2>
            <p style="text-align: center;">Eleve Ingeniere passionné du domaine IT</p>
            <p style="font-weight: lighter;">On est à l’âge où nos idées sont en ébullition, où notre créativité est en ébullition, on n’a ni freins, ni limites, on a le monde de demain dans notre tête !</p>
            <p style="font-weight: bold;">Bachir Ali Mahamadou Aminou</p>
            <p style="font-weight: bold;">0630511280</p>
            <p style="font-weight: bold;">bachir.ali.mahamadou.aminou@gmail.com</p>
        </div>
    </div>
    <hr>
    <div class="col-md-3">
        <h2 style="text-align: center;">Formation</h2>
        <ul>
            <li></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2 style="text-align: center;">Experiences</h2>
    </div>
    <div class="col-md-3">
        <h2 style="text-align: center;">Competences</h2>
    </div>
    <div class="col-md-3">
        <h2 style="text-align: center;">Loisir</h2>
    </div>
</div>